* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    max-width: 1440px;
}


:root {
    --White: #FFF;
    /*Guide Style Carvão*/
    --black-25: #F7F7F8;
    --black-50: #E7E8E9;
    --black-100: #B7BABC;
    --black-200: #878B8F;
    --black-300: #707479;
    --black-400: #40464D;
    --black-500: #101820;
    --black-600: #101820;
    --black-700: #0E161D;
    --black-800: #0D131A;
    --black-900: #070B0E;
    /*Guide Style Cinza Claro*/
    --gray-25: #FCFCFC;
    --gray-50: #FBFBFB;
    --gray-100: #F7F7F7;
    --gray-200: #F0F0EF;
    --gray-300: #E8E8E6;
    --gray-400: #E1E1DE;
    --gray-500: #D9D9D6;
    --gray-600: #AEAEAB;
    --gray-700: #828280;
    --gray-800: #575756;
    --gray-900: #2B2B2B;





    --font-size-14p: 14px;
    --font-size-16p: 16px;
    --font-size-18p: 18px;
    --font-size-20p: 20px;
    --font-size-28p: 28px;
    --font-size-32p: 32px;
    --font-size-40p: 40px;
    --font-size-48p: 48px;

    --font-weight-400: 400;
    --font-weight-600: 600;
    --font-weight-700: 700;

    --line-height-110: 110%;
    --line-height-120: 120%;
    --line-height-130: 130%;
    --line-height-140: 140%;
    --line-height-150: 150%;

    --font-style-normal: normal;
}

body {
    max-width: 1440px;
    background-color: #000;
}

/*----- start header -----*/

header {
    z-index: 3;
    display: flex;
    width: 1440px;
    padding: 20px 48px;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    position: absolute;
}

.img-logo {
    display: flex;
    width: auto;
}

.img-logo img {
    width: 186px;
    height: 24px;
    flex-shrink: 0;
}

.text-content-header {
    width: auto;
}

.text-content-header a {
    text-decoration: none;
    margin: 0 10px;
    color: #fff;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.text-contact-header {
    width: 199px;
    height: 40px;
    background-color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    align-content: center;
}

.text-contact-header a {
    text-decoration: none;
}

/*----- end header -----*/
/*----- start section banner -----*/

section img {
    z-index: -1;
    overflow-y: hidden;
    position: relative;
    filter: brightness(.8);
}

.vector-content-1 {
    position: absolute;
    z-index: 3;
    top: 88px;
    left: 510px;
}

.vector-content-2 {
    position: absolute;
    z-index: 3;
    top: 88px;
    left: 860px;
}

.vector-content-3 {
    position: absolute;
    z-index: 3;
    top: 361px;
    left: 860px;
    transform: rotate(180deg);
}

.vector-content-4 {
    position: absolute;
    z-index: 3;
    top: 361px;
    left: 510px;
    transform: rotate(180deg);
}

.text-content-section {
    position: absolute;
    top: 574px;
    left: 150px;
    color: var(--text-color-color-Cinza-Claro-25);
    font-size: var(--font-size-48p);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-700);
}

/*----- end section banner -----*/